[submodule "ansible-filter-merge"]
	path = ansible-filter-merge
	url = https://github.com/ahes/ansible-filter-merge.git
[submodule "ansible-filter-zip"]
	path = ansible-filter-zip
	url = https://github.com/ahes/ansible-filter-zip.git
[submodule "ansible-filter-vault"]
	path = ansible-filter-vault
	url = https://github.com/ahes/ansible-filter-vault.git
